.signOutButton:hover {
    cursor: pointer;
}

.navbarContainer {
    padding: 0 !important;
}

.navContainer {
    display: flex !important; 
    flex-direction: column !important;
    width: 100%;
}
