.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 575px) {
    .formContainer {
        width: 95%;
    }
}